{% extends 'base.html' %}

{% block content %}
    <div class="container center">
      <h2>
        Status Page
      </h2>
      <div class="card">
        <div class="card-body">
          <h3>
            {{ msg }}
          </h3>

          <p>
            {% if info %}
              Your request is currently: <b>{{ info.status }}</b>
              {% if info.status != 'Visited' and info.status != 'Cancelled' %}
              <form method="post">
                  <button type="submit" name="cancellation-submit" class="btn btn-primary">Cancel Request</button>
              </form>
              {% endif %}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
{% endblock %}